/*Contenedor principal*/

.menu-container{
    display: flex;
    flex-direction:  row;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    padding: 20px;
    width: 100%;
    border: none;
    box-sizing: border-box; 
    box-shadow: 0 0 30px 0; 
    justify-content: flex-end;
    align-content: space-between; 
    position: fixed;  
}

/*Comienza Menú de navegación*/

.menu-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-nav{
    padding-right: 150px;
}

.link-nav{
    font-weight: bold;
    width: 100%;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #1e1d2c;
    border:none;
    text-align: center;
    list-style: none; 
}

.button-nav{
    border:0;
    background-color:#8338EC;
    width: 130%;
    height: 2.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    padding: 5px;
    border-radius: 100px;
}

.to-contact{
    color:white
}

.button-nav:hover {
    background-color: #F9A826;
    font-size: 1.3rem;
}
.link-nav:hover {
    color: #F9A826;
    font-size: 1.3rem;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/

.link-nav:hover {
  filter: brightness(110%);
}

#menu, #label-icon{
display: none;
}


/*Media queries*/

@media all and (max-width: 700px) {   
  .menu-nav{
    display: none;
  }
  #menu:checked  ~ .menu-nav{
    display:block;
  }
  #menu {
    display: none;
  }
  #label-icon {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  #label-icon:hover{
    background: grey;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  #menu:checked ~ #label-icon {
    background: lightgrey; 
  }

  .menu-nav{
    margin-top:0;
    padding: 0;
    width: 200px;
    position: absolute;
  }

  .link-nav {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  .link-nav:hover {
    filter: brightness(110%);
  }

 }

/*
@media (max-width:650px){
    header-nav{
        display: flex;
        flex-direction: column;
}
}
@media (max-width: 1100px) {
    header {
      padding: 25px 20px; 
      display: none;
    }
  }
  */
  

