.project-section {
    background-color: whitesmoke;
    height: 190vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/*contenedor de la información*/

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 3%;  
}
.section-description{
    display: flex;
    text-align: center;
    margin-top: 50px;
    font-size: 1.3rem;
}
/*Grilla de proyectos*/

.grid-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    cursor: pointer;
    width: 75%;
    margin: auto;
    font-size: 3rem; 
}
/*Imagen de las cajas-grilla de proyectos*/

.project-img{
    display: flex;
    align-content: center;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 25%;
    height: 28%;
    margin: 1rem;
    cursor: pointer;
}

.image-class{
   padding: 10px; 
}
/*Texto de las cajas-grilla de proyectos*/

.projects-text{
    display: flex;
    justify-content: center;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.project-img:hover {
    border: 2px solid #8338ec;
}
.project-img:hover .projects-text{
    border: #8338ec;
    color: #8338ec;
}

/*Media queries*/

  @media  (min-width: 320px) and (max-width: 900px) {
  .project-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
  }
  .project-info{
    width: 90%;
    margin-top: 20%;

  }
  .section-title{
    text-align: center;
    font-size: 3rem;
  }
  .section-description{
    font-size:  1rem;
  }
  .grid-projects{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 90%;
    margin: 1rem;
    margin-bottom: 10%;
  }
  .project-img {
    margin: 1rem;
    padding: 0;
    font-size: 0.3rem;
    line-height: 1rem;
    width: 100%;
    height: 18rem;
  }
  .image-class{
    width: 90%; 
    padding: 1rem;
  }
  .projects-text{
    margin: o;
    padding: 0%;
  }

}

@media  screen and(min-width: 900px) and (max-width: 1024px) {

    .project-section {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%;
      height: 80%;
      background-color: lawngreen;
    }
    .project-info{
      width: 90%;
      margin-top: 20%;
  
    }
    .section-title{
      text-align: center;
      font-size: 3rem;
    }
    .section-description{
      font-size:  1rem;
    }
    .grid-projects{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      align-content: center;
      width: 90%;
      margin: 1rem;
      margin-bottom: 10%;
    }
    .project-img {
      margin: 1rem;
      padding: 0;
      font-size: 0.3rem;
      line-height: 1rem;
      width: 100%;
      height: 18rem;
    }
    .image-class{
      width: 90%; 
      padding: 1rem;
    }
    .projects-text{
      margin: o;
      padding: 0%;
    }
  
}
