.project-section {
    background-color: whitesmoke;
    height: 190vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-top: 10%;
    margin-bottom: 3%;  
}
.section-description{
    display: flex;
    text-align: center;
    margin-top: 50px;
    font-size: 1.3rem;
}

.grid-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    cursor: pointer;
    width: 75%;
    margin: auto;
    font-size: 3rem; 
}

.project-img{
    display: flex;
    align-content: center;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 25%;
    height: 28%;
    margin: 1rem;
    cursor: pointer;
}

.image-class{
   padding: 10px; 
}

.projects-text{
    display: flex;
    justify-content: center;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.project-img:hover {
    border: 1px solid #8338ec;
}
.project-img:hover .projects-text{
    border: #8338ec;
    color: #8338ec;
}

/*Responsive*/

  @media (min-width: 320px) and (max-width: 1023px) {
    
    .project-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-width: 100%;
    }
}
/*@media (max-width: 900px) {
    .project-filters {
      flex-wrap: wrap;
    }
  
    .project {
      width: calc(100% / 2 - (0.75em * 2));
      margin: 0.75em;
    }
  }
  
  @media (max-width: 550px) {
    .project-filters {
      flex-wrap: wrap;
    }
    .project-filter {
      margin: 0.5em 0;
      font-size: 0.8em;
      line-height: 2.2;
      padding: 0 20px;
    }
  
    .project {
      width: 100%;
      margin: 0;
      margin-bottom: 1.25em;
    }
} */