.quote-section {
    background-color: #62daf8;
    font-family:  'Numans', sans-serif;
    color:#242331;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#quote-section-image{
  font-size: 5rem;
}
.quote {
    font-size: 1.2rem;
    max-width: 600px;
}
.quote-author {
    font-size: 1.5rem;
    color: #242331;
}
  /*Media queries*/

@media (max-width: 700px) {
  .quote-section{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .quote, .quote-author{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    
  }
}
@media (max-width: 800px) {
  .quote-section{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .quote, .quote-author{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    
  }
}
@media (max-width: 500px) {
  blockquote {
    margin: 0;
  }

  .quote {
    font-size: 1em;
  }
}




 