.quote-section {
    background: linear-gradient(to top right, #c477f8 0%, #85e7ff 100%);
    font-family:  'Numans', sans-serif;
    color:#242331;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#quote-image{
  font-size: 4rem;
}
.quote {
    font-size: 1.5rem;
    max-width: 600px;
}
.quote-author {
    font-size: 2rem;
    color: #242331;
}

  /*Media queries*/

@media (max-width: 900px) {
  .quote-section{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
 }
  .quote, .quote-author{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row; 
    margin: 2rem;
    font-size: 1rem;
    }
    .project-img{
      font-size: 2rem;
    }
  }
  




 